.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  display: flex;
  flex-direction: column;
}
.modal{
    width: 600px;
    height: 700px;
    min-height: 600px;
    padding: 30px;
    /* border: 3px solid black; */
    background-color: rgba(233, 232, 232, 0.578);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.modal-top{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal-icon{
  font-size: 40px;
  cursor: pointer;
}
.modal-icon:hover{
  transform: scale(1.1)
}
.modal-main-img{
  height: 550px;
}
.modal-img-list{
  display: flex;
  gap: 10px;
}
.modal-project-img{
  height: 80px;
  cursor: pointer;
}
.modal-project-img.current{
  filter: brightness(0.3);
}