.card-wrapper{
    width: 600px;
    max-width: 100%;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 30px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}
.project-card{
    width: 100%;
    min-height: 100%;       /* 내용 길이 맞춰서 늘어나게 */
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
}
.content{
    display: flex;
    /* height: 100%; */
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.img-part{
    height: 100%;
    display: flex;
    align-items: center;
}
.card-img{
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid gray;
}
.title-part{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subtitle{
    color: #333333;
    font-weight: 500;
    /* #212529 */
}
.skill-part{
    display: flex;
    gap: 8px;
    color: #333333;
    font-weight: 500;
}
.button-area{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* margin-bottom: 10px;; */
    /* margin-top: auto; */
    /* margin-bottom: 10px; */

}
.button-area div{
    align-self: flex-start;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgb(245, 228, 220) ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.button-area div:hover{
    background-color: rgb(229, 202, 181);
    cursor: pointer;
    transform: scale(1.05);
}
.detail-btn{
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 3px;
    transform-origin: left center; /* ← 핵심! */
}
.detail-btn:hover{
    cursor: pointer;
    color: #8b8a8a;
    transform: scale(1.05);
}
