.card-wrapper{
    width: 600px;
    max-width: 100%;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    margin: 30px;
    padding: 30px 40px;
    display: flex;
    /* align-items: center; */
}
.project-card{
    width: 100%;
    min-height: 100%;
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: start;
    
}
.img-part{
    height: 100%;
    display: flex;
    align-items: center;
}
.card-img{
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid gray;
}
.title-part{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.subtitle{
    color: #333333;
    font-weight: 500;
    /* #212529 */
}
.skill-part{
    display: flex;
    gap: 8px;
    color: #333333;
    font-weight: 500;
}
.button{
    display: flex;
    gap: 10px;
}
.button div{
    /* border: 1px solid black; */
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgb(245, 228, 220) ;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* text-align: center; */
}

/* HTML5”는 #e34c26, “CSS3”는 #2965f1, “Bootstrap”은 #7952b3 */