.projects-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.text-box{
    width: 200px;
    height: 200px;
    border: 5px solid purple;
}



