.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  display: flex;
  flex-direction: column;
}
.modal{
    width: 600px;
    height: 700px;
    min-height: 600px;
    padding: 30px;
    background-color: rgba(233, 232, 232, 0.578);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}
.close-icon{
  display: none;
}
.modal-top{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.modal-icon{
  font-size: 40px;
  cursor: pointer;
}
.modal-icon:hover{
  transform: scale(1.1)
}
.modal-main-img{
  height: 550px;
}
.modal-img-list{
  display: flex;
  gap: 10px;
}
.modal-project-img{
  height: 80px;
  cursor: pointer;
}
.modal-project-img.current{
  filter: brightness(0.3);
  transform: scale(1.08);
}

@media (max-width: 480px){
  .modal{
    width: 400px;
  }
  .modal-main-img{
    height: 400px;
  }
  .modal-icon{
    display: none;
  }
  .close-icon{
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color: rgb(54, 53, 53)
  }
}