/* .skill-card{
    position: relative;
    width: 400px;
    max-width: 100%;
    border: 3px solid #4fc3f7;
    border-radius: 20px;
    background-color: #0e1116;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(79, 195, 247, 0.3);
    font-size: large;
}
.skill-title{
    border: 3px solid #4fc3f7;
    background-color: #0e1116;
    position: absolute;
    top: -20px;
    left: 16px;
    padding: 5px 15px;
    transform : rotate(-5deg);
    font-weight: 700;
}

.skill-card.oddNum{
    border: 3px solid #14a51b;
    box-shadow: 0 5px 20px rgba(79, 195, 247, 0.3);
}
.skill-title.oddNum{
    border: 3px solid #14a51b;
    left: 162px;
    transform : rotate(5deg);
} */