.skill-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 400px 0px;
    padding: 100px 0px;
    gap: 60px;
}


.skill-card{
    position: relative;
    max-width: 100%;
    margin: 30px 0px;
}
.skill-content{
    border: 4px solid #4fc3f7;
    border-radius: 20px;
    background-color: #0e1116;
    width: 600px;
    max-width: 100%;
    padding: 40px;
    box-shadow: 5px 8px 15px rgba(68, 176, 226, 0.3);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skill-title{
    border: 3px solid #4fc3f7;
    border-radius: 5px;
    background-color: #0e1116;
    width: fit-content;
    padding: 7px 18px;
    position: absolute;
    top: -20px;
    left: 20px;
    transform: rotate(-5deg);
    font-weight: 700;
    font-size: 22px;
}
.skill-content.oddNum{
    border: 4px solid #14a51b;
    box-shadow: 5px 8px 15px rgba(41, 211, 120, 0.3);
}
.skill-title.oddNum{
    border: 3px solid #14a51b;
    transform: rotate(5deg);
    left: auto;
    right: 20px;
}
.content-summary{
    color: #aaa;
    font-size: 15px;
}