.header-menu{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgba(255, 255, 255, 0.9); /* ✅ 흰색 반투명 */
    color: black !important;
}