.about-section {
  min-height: 100vh; /* ✅ 한 화면 이상 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 30px;

  width: 100%;
  max-width: 100vw; /* 스크롤바 포함한 전체 뷰포트 너비 */
  box-sizing: border-box;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px 30px 50px 30px;
    width: 450px;
    border-radius: 30px;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.info-item{
    display: flex;
    align-items: center;
    gap: 20px;
}
.link-style{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.link-style:hover{
    color: gray;
}

@media (max-width: 480px){
    .info{
        width: 380px;
    }
}