*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body,#root{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.app{
    transition: background-color 1s ease-in-out;
    min-height: 100vh;
    color: black;
    width: 100%;
    overflow-x: hidden;
    gap: 100px;
    /* display: flex;
    flex-direction: column; */
}